<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('platform.profile', username=ad.user.username) }}">
                <img src="{{ ad.user.avatar(70) }}" />
            </a>
        </td>
        <td>
            User:
            <a href="{{ url_for('platform.profile', username=ad.user.username) }}">
                {{ ad.user.username }}
            </a>
            <br>
                Categories:
                {% for category in ad.categories %}
                    <b style="background-color: green; color: white">{{ category.name }}</b>
                {% endfor %}
            <br>
                Description: {{ ad.text_description }}
            <br>
                Phone Number: {{ ad.user_phone_number }}
            <br>
                Location: {{ ad.location }}
            <br>
                Price: {{ ad.price }}
        </td>
        {% if current_user.id == ad.user.id %}
            <td style="width: 33%">
                <a href="{{ url_for('platform.delete_ad', ad_id=ad.id) }}">Delete ad</a>
                <br>
                <a href="{{ url_for('platform.make_payment', ad_id=ad.id) }}">Make ad paid</a>
            </td>
        {% else %}
            <td style="width: 33%">
                <a href="{{ url_for('platform.send_message', user_id=ad.user.id) }}">Send message to author</a>
            </td>
        {% endif %}
    </tr>
</table>